.bgimg{
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f9f3f3, #fdfdfd);
  font-family: "Arial", sans-serif;
  overflow: hidden;
  background-image: 
    linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    url('C:/Users/buddh/Desktop/GUI Project With Git/BabyGrowth/frontend/src/img/cloud-back.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}