

  .bgimg {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color:rgb(236, 211, 215) ;
 
  }

.account-page {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.account-page {
  min-height: 100vh; 
  height: 100%; 
  background: #ffffff;
  display: flex;
  flex-direction: column;
}


.account-container {
  flex: 1; 
  width: 100%;
  background: #ffcccb; 
}
.description-baby{
  margin-top: 20px;
  color: #664254;
}


.charts h2{
  font-size: 2rem;
  color:#664254;
  margin-left: 200px;
  margin-top: 20px;
}

.charts{
  margin-left: 450px;
 

  
}
.charts-container {
  display: flex;
  justify-content:space-between;
  gap: 20px;
  padding: 20px;
 

}









