.container {
  display: flex;
  height: 100vh;

}

.slidebar {
  width: 450px;
  height: auto;
  background-color:pink ;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  
}

.charts h2{
  font-size: 2rem;
  color:#664254;
  margin-left: 200px;
  margin-top: 20px;
}

.charts{
  margin-left: 450px;
 

  
}
.charts-container {
  display: flex;
  justify-content:space-between;
  gap: 20px;
  padding: 20px;
 

}


@media (max-width: 768px) {
  .chart-card {
    width: 100%; /* Adjusts the width for smaller screens */
  }

  .chart-content {
    height: 200px; /* Adjust the height for smaller screens */
  }
 
  /* You can add any specific changes for the measurements you want here */
}