
*{
  margin: 0;
  padding: 0;
}

.hero-button.highlight {
  animation: highlight 1s ease-out;
}



/* Splash Screen */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('C:\Users\buddh\Desktop\GUI Project With Git\BabyGrowth\frontend\src\img\cloud-back.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: slideUp 1s ease-out forwards, backgroundMove 3s ease-out forwards;
  animation-delay: 2s, 0s; /* Delay for each animation */
}

/* Background Image Animation */
@keyframes backgroundMove {
  0% {
    background-position: center;
    background-size: 100%;
    opacity: 1;
  }
  50% {
    background-position: top;
    background-size: 110%;
    opacity: 0.8;
  }
  100% {
    background-position: bottom;
    background-size: 120%;
    opacity: 0;
  }
}



/* Splash Logo */
.splash-logo {
  font-size: 1rem;
  color: white;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  width: 500px;
  height: auto;
}

/* Home Page */
.home-page {
  font-family: "Popins", sans-serif;
  background-image:
   linear-gradient(to top, 
  rgba(255, 255, 255, 0.0) 0%, 
  rgba(255, 255, 255, 0.0) 50%, 
  rgba(255, 255, 255, 0.0) 60%),url('C:\Users\buddh\Desktop\GUI Project With Git\BabyGrowth\frontend\src\img\path4.svg');
  background-repeat: no-repeat;
  background-size:100%; 
  background-attachment: fixed;
  background-position: center 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-attachment: scroll;
  
  

 
   }



.home-page.visible {
  opacity: 1;
  transform: translateY(0);
  
}

.Logo2{
  width: 250px;
  height: auto;
  margin-top: 20px;
  margin-left: 120px;
}
/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;


  
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 30px;

 
}

/* Text on the Left */
.hero-text {
  flex: 1;
  text-align: left;
 }
.hero-text div{
  top:100px ;
  position: relative;
}
 .hero-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
  


 
}
.hero-subtitle1{
  font-size: 3rem;
  color: #664254;
  margin-left: 130px;
  margin-top: 50px;
 
}

.hero-subtitle2{
  font-size: 1.7rem;
  color: #664254;
  margin-top: 10px;
  margin-left: 60px;
  
}
.hero-subtitle {
  font-size: 1.3rem;
  margin-bottom: 30px;
  line-height: 1.8;
  color: #664254;
  margin-top: 10px;
  margin-left: -30px;
  
}

.hero-button {
  background-color: #1cb0ff;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
  margin-left: 160px;
  margin-bottom: 10px;
  margin-top: -50px;
  font-weight: 600;

 
 
  

}

.hero-button:hover {
  background-image: linear-gradient(to right, #ff5999, #ff2a7c); /* Gradient background */
  color: rgb(255, 255, 255); /* Ensure the text color remains readable */
  transition: background-image 2s ease-in-out, color 0.9s ease-in-out; /* Smooth transition effects */
}



/* Image on the Right */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 80%;
  height: auto;
  }

/* Features Section */
.features-section {
  text-align: center;
  padding: 80px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin-bottom: 50px;
 margin-top: 40px;
  
}

.features-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.features-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
 
}

.feature-box {
  background-color: #f4f4f4;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
}

.feature-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.feature-title {
  font-size: 1.8rem;
  color: #34ccfa;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  color: #555;
}
.image-before-footer {
  display: flex;
  margin: 10px 0; /* Space around the image */
  margin-left: -200px;
 
}
.static-img{
 
  margin-left: 400px;

}
.sub-title-container{
  margin-left: 10%;
  margin-top: 10px;
}
.sub-title1{
  gap: 10px;
  font-size: 2rem;
  color: #664254;
  margin-left: 390px;
}
.sub-title2{
  font-size: 1.5rem;
  color: #664254;
  margin-top: 150px;
  margin-left: -240px;
}
.sub-title3{
  font-size: 1.1rem;
  color: #664254;
  margin-top: 190px;
  margin-left: -400px;
  font-weight: 0;
}

.sub-title4{
  font-size: 1.1rem;
  margin-top: 215px;
  margin-left: -310px;
  color: #664254;
}

.ss-img{
  height: 450px;
  width: auto;
  margin-left: 200px;
  margin-top: -50px;
}

.image-before-footer2 {
  display: flex;
  margin: 10px 0; /* Space around the image */
  margin-top: 20px;
  
 
}

.milstone-Icon{
margin-left: 900px;
margin-top: 60px;
}
.sub-topic1{
  gap: 10px;
  font-size: 2rem;
  color: #664254;
  margin-left: 870px;
  
  
}
.sub-topic2{
  font-size: 1.5rem;
  color: #664254;
  margin-top: 5px;
  margin-left: 850px;

}
.sub-topic3{
  font-size: 1.1rem;
  color: #664254;
  margin-top: 12px;
   margin-left: 750px;
  font-weight: 0;
}

.sub-topic4{
  font-size: 1.1rem;
  margin-left: 780px;
  color: #664254;
  margin-top: -15px;
}
.sub-topic5{
  font-size: 1.1rem;
  margin-left: 930px;
  color: #664254;
  margin-top: -15px;
}
.img2{
  height: 450px;
  width: auto;
  margin-left: 190px;
  margin-top: -300px;
  


}

.footer-image {
  max-width: 50%;
  height: auto;
  
}
.footer .apple-img{
margin-top: -20px;
margin-bottom: 10px;
width: 150px;
height: auto;
margin-left: 350px;
}

.footer {
  background-color: #ffcccb;
  text-align: center;
  padding: 20px 10px;
  font-size: 1rem;
  color: #343637;
  position: relative;
  width: 100%;
  
}




