.headdiametercard {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    justify-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  }
  
  .headdiametercard-body {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 800px;
    height: auto;
    justify-content: center;
  
  }
  
  .headdiametercard-title {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
  }
  